header {
  margin: 0 0 0 0;
  background-color:	#738085;
  border: 3px black solid;
}
img {
  border-radius: 50%;
  border: 3px black solid;
  margin-top: 5%;
}
H1{
COLOR: black; 
FONT-SIZE: 40PX;
TEXT-ALIGN: CENTER; 
font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
font-variant: SMALL-CAPS;
}

BODY{
  	background-image: url("http://static4.grsites.com/archive/textures/blue/blue075.jpg");
}

P {
  COLOR: white;
  FONT-SIZE: 30PX;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  padding-bottom: 10px;
}
H2{
  COLOR: white;
  FONT-SIZE:;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
H3{
  COLOR: white;
  FONT-SIZE:;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
H4 {
  COLOR: white;
  FONT-SIZE:;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  list-style-type: none;
}
UL {
  list-style-type: none;
}

LI {
  COLOR: white;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
}
.hideme {
  COLOR: white;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-align: center;
}
main {
  background-image: url("http://static4.grsites.com/archive/textures/blue/blue075.jpg");
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.img-circle {
    border-radius: 50%;
}
