H1{
COLOR: BLACK; 
TEXT-ALIGN: CENTER; 
font-family: GEORGIA; 
font-variant: SMALL-CAPS; 
line-height: 10%;
padding-bottom: 10px;
}
  /* Title strip color */
#banner-inner {
border: 0;
top: 0;
height: 180px;
background: rgba(12, 140, 89, 0.6); 
}
#banner-header {
margin-top: 110px;
}

P{
  COLOR: BLACK; 
  TEXT-ALIGN: LEFT; 
  font-family: GEORGIA; 
  font-size: 30PX; 
  font-variant: small-caps; 
  line-height:20%;
}

H4{
  Color:BLACK; 
  text-align:LEFT; 
  FONT-FAMILY: GEORGIA; 
  line-height: 10%; 
  font-size: 20PX;
  font-variant: small-caps;
  }
BODY{
  background-color: #1a8bff; 
  border: 5px solid black; 
  padding-bottom: 50px; 
  padding-left: 150px; 
  padding-right: 150px; 
  padding-top: 50px;
  }
H6{
  COLOR: BLACK; 
  font-size: 20px;
  font-family: GEORGIA; 
  TEXT-ALIGN: center;
  padding-bottom: 20PX;
}

P4{
  COLOR: BLACK; 
  line-height: 10%;
} 


