header{
  margin: 50px 0px 0px 0px;
  padding: 30px;
  background-color: #7DA5D4;
  border: 1px #293F4A solid;
  border-radius: 20%;
}

H1{
COLOR: black; 
FONT-SIZE: 40PX;
TEXT-ALIGN: LEFT; 
font-family: GEORGIA; Times; serif
font-variant: SMALL-CAPS; 
line-height: 10%;
padding-bottom: 10px;
}


img {
    margin-bottom: 100px;
    border: 1px solid black;
    float: right;
}

H2{ 
  COLOR: BLACK;
  FONT-SIZE: 20px;
  TEXT-ALIGN: LEFT;
  font-family: GEORGIA; Times; serif
  line-height: .6;
}
section{
.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}
(Make sure you s
}
P{
  COLOR: BLACK; 
  TEXT-ALIGN: LEFT; 
  font-family: GEORGIA; Times; serif
  font-size: 35PX; 
  font-variant: small-caps; 
  line-height:25%;
}
P1{
  COLOR: BLACK;
  TEXT-ALIGN: LEFT;
  font-family: GEORGIA; Times; serif
  font-size: 20PX;
  line-height: 20px;
}

H4 {
  Color: BLACK; 
  text-align:LEFT; 
  FONT-FAMILY: GEORGIA; Times; serif
  line-height: 10%; 
  font-size: 20PX;
  font-variant: small-caps;
  transition: font-size; 2s;  
  }
  
H4: hover {
  font-size: 30px;
} 

body {
  background-image: url("http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/1194/full/seamless-baby-blue-patterns-1.jpg");
  background-color: #FFFFF;
}
 
  
main {
  padding-bottom: 50px; 
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  }

nav {
  margins: 20px 0px 0px 0px;
  COLOR: BLACK; 
  line-height: 60%;
  
}
  
}

  


P4{
  COLOR: BLACK; 
  line-height: 36%;
} 

label, input { 
  display: block;
}
